@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Electrolize&family=Lato:wght@400;700&family=Noto+Sans+Chakma&display=swap");

body {
  margin: 0;
  font-family: "Electrolize", sans-serif;
  @apply bg-gray-50;
}


.menu-links {
  @apply flex justify-between items-center gap-7 md:static fixed z-50 bottom-0 md:w-auto w-screen md:bg-transparent bg-white left-0 md:border-t-0 border-t md:px-0 px-4 py-1;
}

.menu-link {
  @apply flex flex-col hover:text-[#40a9ff] transition-all gap-y-[2px];
}


.ant-btn-primary {
  background-color: #1677ff;
}

.menu-link .anticon {
  display: flex;
  justify-content: center;
}

.categories::-webkit-scrollbar {
  display: none;
}
.products::-webkit-scrollbar {
  display: none;
}


.dark {
  background-color: #1a202c;
  color: #fff;
}

.dark-mode {
  width: 45px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.05);
}


.menu-link.active {
  @apply text-[#40a9ff];
}


.custom-horizontal-scrollbar {
  &::-webkit-scrollbar {
    height: 3px;

  }

  &::-webkit-scrollbar-track {
    background: #f5f3fb;
    border-radius: 38px;
  }

  &::-webkit-scrollbar-thumb {
    background: #931010;
    border-radius: 38px;
  }
}

